<nav class="navbar">

    <div class="nav-inner">

        <a href="#top" class="brand">
            Ms. Mercy's
            <span>Classroom</span>
        </a>


        <button
            class="nav-toggle"
            id="nav-toggle"
            type="button"
            aria-label="Toggle menu"
            aria-expanded="false"
            aria-controls="nav-tabs"
        >
            ☰
        </button>


        <ul class="tabs" id="nav-tabs">

            <li>
                <a href="#about">
                    About
                </a>
            </li>

            <li>
                <a href="#resources">
                    Resources
                </a>
            </li>

            <li>
                <a href="#blog">
                    Classroom Notes
                </a>
            </li>

            <li>
                <a href="#gallery">
                    Gallery
                </a>
            </li>

            <li>
                <a href="#contact">
                    Contact
                </a>
            </li>

        </ul>

    </div>

</nav>